<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/user/layout :: areas(~{::title},~{::body})}">
<head>

<title>Coza Store | About</title>

</head>
<body>

	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-40"></section>
	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-150" style="background-image: url('/user/images/bg-02.jpg'); border-radius: 20px;">
		<!-- Breadcrumb -->
		<div class="txt-center">
			<a href="#" class="stext-109 cl8 hov-cl1 trans-04" style="font-size: 25px;">Home</a>
			<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true" style="font-size: 25px;"></i>
			<a href="#" class="stext-109 cl8 hov-cl1 trans-04" style="font-size: 25px;">About</a>
		</div>
	</section>

	

	<!-- Content page -->
	<section class="bg0 p-t-75 p-b-120">
		<div class="container">
			<div class="row p-b-148">
				<div class="col-md-7 col-lg-8">
					<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
						<h3 class="mtext-111 cl2 p-b-16">Apple Planning</h3>

						<p class="stext-113 cl6 p-b-26">There are 15 new stores coming
							to the Asia-Pacific region, five stores coming to Europe and the
							Middle East, and four stores coming to the U.S. and Canada.
							Another 28 stores in Asia, Europe, and North America will be
							revamped or relocated, with Apple working on the updates through
							2027. Three of the Asia-Pacific stores will be in India, one will
							be in Malaysia, two will be in South Korea, and one will be at
							the Jing'an Temple Plaza in Shanghai, with Apple also planning to
							overhaul its Shinsaibashi store in Osaka, Japan. In Europe, Apple
							plans to upgrade its Paris Opéra location and open new stores at
							the Battersea Power Station in London and La Vaguada in Madrid.

							New Apple retail locations are coming to Miami, Detroit, and
							Torrance, California, while stores in New Jersey, Alabama,
							Massachusetts, North Carolina, Ohio, Georgia, and Missouri will
							be relocated.</p>

					<div class="bor16 p-l-29 p-b-9 m-t-22">
							<p class="stext-114 cl6 p-r-40 p-b-11">Apple recently redid Apple
							Tysons Corner in Virginia, introducing a total overhaul of its
							first-ever Apple retail location. The store features a physical
							Genius Bar, a flexible hardware space, and an in-person Apple
							Watch Studio, and it's possible that some of these features could
							come to the new stores that are planned. Bloomberg says that
							Apple is primarily updating older, smaller stores, with full
							details on specific locations for the new stores available from
							the site.</p>

							<span class="stext-111 cl8"> Tag: Apple Store</span>
					</div>
					</div>
				</div>

				<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
					<div class="how-bor1 ">
						<div class="hov-img0">
							<img src="/user/images/about1.jpg" alt="IMG">
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
					<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
						<h3 class="mtext-111 cl2 p-b-16">Apple Previews</h3>

						<p class="stext-113 cl6 p-b-26">Apple's flagship Fifth Avenue
							store with its iconic glass cube entrance in Manhattan reopens to
							the public Friday following multi-year renovations, and ahead of
							time, the media was invited to the store for a preview.The
							underground store has been nearly doubled in size with a higher
							ceiling and more natural light coming in from 62 skylights added
							to the store's plaza at ground level. The plaza has also been
							lined with 28 honey locust trees, linear fountains, and benches
							for the public to gather around. Visitors enter by walking down a
							new stainless steel spiral staircase, or by riding a circular
							elevator. The staircase is designed with 43 cantilevered stair
							treads that support a floating cylinder of glass, and the backlit
							ceiling above combines natural and artificial light to match the
							sunlight throughout the day.</p>

						<div class="bor16 p-l-29 p-b-9 m-t-22">
							<p class="stext-114 cl6 p-r-40 p-b-11">Apple CEO Tim Cook:

								Our customers are at the center of everything we do, and Apple
								Fifth Avenue is for them, to inspire them, and to provide the
								very best place to discover our newest products. It's unique
								among Apple stores, and today it returns even more welcoming,
								and even more beautiful than ever. We're so proud to be a part
								of this great city where so much happens every day.</p>

							<span class="stext-111 cl8"> Tag: Apple Store</span>
						</div>
					</div>
				</div>

				<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
					<div class="how-bor2">
						<div class="hov-img0">
							<img src="/user/images/about2.jpg" alt="IMG">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>