
<style>
/* CSS để tạo "box" xung quanh từng hàng trong bảng */
table {
	width: 100%;
	border-collapse: collapse;
	background-color: rgba(75, 192, 192, 0.2);
}

th, td {
	padding: 10px;
	/* Điều chỉnh khoảng cách giữa nội dung và đường viền của ô */
	border: 1px solid #ddd; /* Đường viền của ô */
}

/* CSS để làm đẹp cột tổng số */
th, td.text-info {
	text-align: center;
}
</style>

<div class="col-md-12 mt-5">
	<div class="row col-12 mb-3">
		<div class="form-group col-sm-6"></div>
		<div class="form-group col-sm-2">
			<label>Start Time</label> <input ng-model="form1.startDate"
				type="date" class="form-control">
		</div>
		<div class="form-group col-sm-2">
			<label>End Time</label> <input ng-model="form1.endDate" type="date"
				class="form-control">
		</div>
		<div class="pt-4 col-sm-1">
			<button ng-click="getDate()" class="btn btn-info">SUBMIT</button>			
		</div>
		<div class="pt-4 col-sm-1">			
			<button ng-click="init()" class="btn btn-danger">RESET</button>
		</div>
	</div>

	<table class="table table-hover">
		<thead
			style="text-transform: uppercase; text-align: center;">
			<tr>
				<th>No.</th>
				<th>Order</th>
				<th>Count Order</th>
				<th>Sum Order</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in tops" style="text-align: center;">
				<td>{{$index+1}}</td>
				<td>{{item.order_status.id}}</td>
				<td>{{item.count}}</td>
				<td class="text-info">{{item.sum|number:0}} VNĐ</td>
			</tr>
			<tr style="text-align: center;">
				<td colspan="2">Total Count</td>
				<td colspan="2">{{getTotalCount()}} Order</td>
			</tr>
		</tbody>
	</table>


	<div class="col-md-10 mt-5 offset-1">
		<canvas id="myChart" width="400" height="200"></canvas>
	</div>
</div>